// $color-primary: #ff9100;
// $color-primary: #8f71b3;
$color-primary: #000000;
$color-secondary: #aaa;
$color-error: #eb2222;
$color-background: #fff;
$color-text: #444;
$color-highlight: rgba(0,0,0,0.05);

$font-size-s: 0.75em;

$border-radius: 4px;

$nav-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

$anim-time-s: 0.15s;
$anim-time-m: 0.3s;
$anim-time-l: 0.6s;
